<p>Hi <span style="color:red">{{user|uppercase}}</span>,</p>
<section id="tabs" class="project-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
            routerLink="./search" role="tab"
              aria-controls="nav-home" aria-selected="true">Search Store</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
             routerLink="./add" role="tab"
              aria-controls="nav-profile" aria-selected="false">Add Store</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
<div class="container content"><router-outlet></router-outlet></div>
