<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SvvApp</title>
    <base href="/">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.ico" rel="icon" type="image/x-icon">

</head>
<body>
<app-root></app-root>
<script defer src="js/runtime.js"></script>
<script defer src="js/polyfills.js"></script>
<script defer src="js/styles.js"></script>
<script defer src="js/vendor.js"></script>
<script defer src="js/main.js"></script>
</body>
</html>
