<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Svv Pharma</title>
    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script>
	$(document).ready(function() {
		$("#sbmt").click(function() {
			$("#pwd").val(btoa($("#ppd").val()));
			$("#unm").val(btoa($("#uum").val()));
			$("#frm").submit();
		});
	});

    </script>
</head>
<body>
<div class="table-responsive">
    <form class="myForm" id="frm" method="post" th:action="@{/login}">
        <input id="unm" name="username" type="hidden"/> <input
            id="pwd" name="password" type="hidden"/>
        <table class="table">
            <thead>
            <tr>
                <td colspan="2">
                    <h4 style="color: red" th:if="${param.error}">Invalid
                        username and password.</h4>
                    <h4 style="color: red" th:if="${param.logout}">You have been
                        logged out.</h4>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><label> User Name :</label></td>
                <td><input id="uum" type="text"/></td>
            </tr>
            <tr>
                <td><label> Password:</label></td>
                <td><input id="ppd" type="password"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary" id="sbmt"
                            type="button">Sign In
                    </button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
</html>